.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	hr {
		width: 90%;
		opacity: 0.5;
	}
}
.temp {
	color: #fff;
	font-size: 5rem;
	font-weight: bold;
	position: relative;
	&::after {
		content: '°';
		position: absolute;
		font-size: 2rem;
		right: -10px;
		color: #84b0f5;
	}
}
.description {
	color: #fff;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__forecast {
		gap: 15px;
		flex-direction: row;
		padding: 20px;
		p {
			font-size: 22px;
			color: #fff;
			font-weight: bold;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		}
	}
}
.extra {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	&__unit {
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			color: #75acfa;
			font-weight: bolder;
			font-size: 18px;
		}
		span {
			color: #fff;
		}
	}
}
