.header {
	&__list {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}
	&__input-wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;

		align-items: center;
	}
	&__city-input {
		background: transparent;
		border: none;
		color: white;
		font-weight: 700;
		font-size: 22px;
		text-align: center;
	}
}
