.header {
	&__list {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}
	&__input-wrapper {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}
	&__city-input {
		background: transparent;
		border: none;
		color: white;
		font-weight: 500;
		font-size: 18px;
		text-align: center;
	}
}
